#date {
    color: bisque;
}
/* Start of breack-point 760 */

@media screen and (max-width: 760px) {
        .body {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;   
            
        }
            
        #container {
            
            display:flex;
            flex-direction: column;
            background-color: black;
            
        
        }
        
        #header {
        
            display: flex; 
            flex-direction: column;
            height: 200px;     
            align-items: center;  
            background: rgb(17, 16, 16);
            margin: 0px 0px 4px;
        }

        
    
        .logo {
            display: flex;
            width: 80px;
            height: 80px;
            background-image: url(../Photos/tomates-noir-blanche.jpg);
            border-radius: 150px;
            margin: 10px;
        }
        
        .titre {
        
            display: flex;  
            align-items: center;
            font-family: cursive;
            color: forestgreen;
            font-weight: bolder;
            font-size: 2.5em; 
            margin: 10px;
        
        }
    
        .social {
            display: flex;
            position: fixed;
            width: 50px;
            height: 50px;
            flex-direction: column;
            font-size: 1.6rem;
            margin: 10px;
            z-index:100;
            margin-right: 0px;
            margin-left: 690px;
            margin-top: 0px;
          }
    
        #navbar {
    
            display: flex;
            height: 50px;
            background: black;
        }
    
        .topnav {
            background-color: #000000;
            display: flex;
            align-items: center;
            width: 100%;
        }
    
        .topnav_link {
            color: rgb(255, 255, 255);
            padding: 12px;
            text-decoration: none;       
        }
    
        .topnav_link:hover {
            color: yellowgreen;
        }
    
        /* hide responsive menu */
        #topnave_hamburger-icon,
        #topnav_responsive_menu {
            display: none;
        }
    
        /* hide classic menu */
        #topnav_menu {
            display: none;
        }
    
        /* posotion home link at left and humburger at right*/
        #home_link {
            flex-grow: 1;
        }
    
        /* disabled horizontal scrolling */
        #connect {
            position: relative;
            overflow-x: hidden;
        }
    
        /* show responsive menu and position at the right of the screen */
        #topnav_responsive_menu {
            display: block;
            position: absolute;
            margin: 0;
            right: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 99;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        }
    
        #topnav_responsive_menu ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin: 0;
            right: 0;
            top: 0;
            min-width: 50vw;
            height: 100vh;
            padding: 56px 0 0;
            text-align: center;
            background: #ededed;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
        }
    
        #topnav_responsive_menu li {
            padding: 12px 24px;
        }
    
        #topnav_responsive_menu a {
            white-space: nowrap;
            color: #333;
            text-decoration: none;
        }
    
        /* and let's slide it in from the right */
        #topnav_responsive_menu.open {
            transform: none;
            position: fixed;
        }
    
        /* ***************** HAMBURGER ICON *************************/
        /* define size and position of the humburger link */
        #topnav_hamburger_icon {
            display: block;
            position: relative;
            margin: 16px;
            width: 33px;
            height: 28px;
    
            z-index: 100;
    
            -webkit-user-select: none;
            user-select: none;
            cursor: pointer;
        }
    
        /* define the style (size, color, position, animation,...)of the 3 span */
        #topnav_hamburger_icon span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            margin-bottom: 5px;
            background: #ededed;
            border-radius: 3px;
            z-index: 100;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: 0.25s ease-in-out;
            -moz-transition: 0.25s ease-in-out;
            -o-transition: 0.25s ease-in-out;
            transition: 0.25s ease-in-out;
        }
    
        /* set the 3 spans position to look like a hamburger */
        #topnav_hamburger_icon span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left top;
            -moz-transform-origin: left top;
            -o-transform-origin: left top;
            transform-origin: left top;
          }
          #topnav_hamburger_icon span:nth-child(2) {
            top: 12px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
          }
          #topnav_hamburger_icon span:nth-child(3) {
            top: 24px;
            -webkit-transform-origin: left bottom;
            -moz-transform-origin: left bottom;
            -o-transform-origin: left bottom;
            transform-origin: left bottom;
          }
    
        /* change color when opening the menu */
        #topnav_hamburger_icon.open span {
            background: #333;
          }
    
        /* the first span rotates 45째 \ */
        #topnav_hamburger_icon.open span:nth-child(1) {
            width: 110%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    
        /* the second span disappear */
        #topnav_hamburger_icon.open span:nth-child(2) {
            width: 0%;
            opacity: 0;       
        }
        
        /* the last span rotates -45째 / */
        #topnav_hamburger_icon.open span:nth-child(3) {
            width: 110%;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    
        .search-texte {
            width: 200px;
            border-radius: 15px;
            margin-right:3px;
            margin-left: 50px;
            padding: 0px
            
        }  
    
        #button-submit {
            width: 25px;
            height: 25px;
            border-radius: 50px;
        }
    
        .favorite {
            background-color: aqua;
            display: flex;
            margin-right: 0px;
            margin-left: 115px;
            border-radius: 15px;
            width:140px;
            
        }
        
        #content {
    
            display: flex; 
           
            background: lightcoral;        
            display: none;
        }
    
        #aside {
            display: flex;
            align-items: center;  
            flex-direction: column;   
            height: 1000px;
            margin: 5px 0px 5px;
            
        }
    
        
    
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height:550px;
            margin: 5px 0px 0px 0px;
            text-decoration: none;
    
        }
        .item1 {
            background-image: url(../Photos/etales.jpg);
            background-repeat: no-repeat;
            
           
        }
        .item2 {
            background-image: url(../Photos/graines.jpg);
            
        }
    
        .item3 {
            background-image: url(../Photos/plants1.png);
        }
        .item4 {
    
            display: none;
        }
        .item5 {
            background-image: url(../Photos/serre.jpg);
        }
        .item6 {
            background-image: url(../Photos/chiots.jpg);
        }
        .item7 {
            background-image: url(../Photos/serre3.jpg);
            color: rgb(224, 224, 21)h;
        }
    
        #footer {
            display: flex;
            background: rgb(224, 224, 21);
            height: 200px;
                   
        }
    
        .index {
            display: flex;
            background: #000000;
            margin: 5px 0px  5px;
            padding: 5px;
            color: #ededed;
            font-size: 0.75em;
            justify-content: center;
            align-items: center;
    
        }
    
        ul { 
            padding: 5px 5px 5px;
            
        }
    
        .li {
            padding: 5px 12px 7px;
            
        }
    
        .footer {
            display: flex;
            color: #ededed;
            margin: 5px 10px;
            padding: 5px;
            font-size: 12px;
            justify-content: center;
            align-items: center;
        }  
    }
    
@media screen and (max-width: 480px) {

    .body {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;   
        
    }
        
    #container {
        
        display:flex;
        flex-direction: column;
        background-color: black;
        
    
    }
    
    #header {
        background-image: url(../Photos/tomates-noir-blanche.jpg);
        background-size: cover;
        display: flex; 
        height: 190px;     
        align-items: center;  
        justify-content: center;
        margin: 0px 0px 4px;
    }

    .logo {
        display: flex;
        display: none;
        width: 80px;
        height: 80px;       
        border-radius: 150px;
        margin: 10px;
    }
    
    .titre {
        display: flex;
        width: 350px;  
        align-items: center;
        justify-content: center;       
        font-family: cursive;
        color: forestgreen;
        font-weight: bolder;
        font-size: 2.5em; 
        margin: 10px;
    
    }

    .social {
        justify-content: inherit;
        position: fixed;
        width: 50px;
        height: 50px;
        flex-direction: column;
        font-size: 1.6rem;
        margin: 10px;
        z-index:100;
        margin-left: 410px;
      }

    #navbar {

        display: flex;
        height: 50px;
        background: black;
    }

    .topnav {
        background-color: #000000;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .topnav_link {
        color: rgb(255, 255, 255);
        padding: 12px;
        text-decoration: none;       
    }

    .topnav_link:hover {
        color: yellowgreen;
    }

    /* hide responsive menu */
    #topnave_hamburger-icon,
    #topnav_responsive_menu {
        display: none;
    }

    /* hide classic menu */
    #topnav_menu {
        display: none;
    }

    /* posotion home link at left and humburger at right*/
    #home_link {
        flex-grow: 1;
    }

    /* disabled horizontal scrolling */
    #connect {
        position: relative;
        overflow-x: hidden;
    }

    /* show responsive menu and position at the right of the screen */
    #topnav_responsive_menu {
        display: block;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        transform-origin: 0% 0%;
        transform: translate(200%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    #topnav_responsive_menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        min-width: 50vw;
        height: 100vh;
        padding: 56px 0 0;
        text-align: center;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
    }

    #topnav_responsive_menu li {
        padding: 12px 24px;
    }

    #topnav_responsive_menu a {
        white-space: nowrap;
        color: #333;
        text-decoration: none;
    }

    /* and let's slide it in from the right */
    #topnav_responsive_menu.open {
        transform: none;
        position: fixed;
    }

    /* ***************** HAMBURGER ICON *************************/
    /* define size and position of the humburger link */
    #topnav_hamburger_icon {
        display: block;
        position: relative;
        margin: 16px;
        width: 33px;
        height: 28px;

        z-index: 100;

        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
    }

    /* define the style (size, color, position, animation,...)of the 3 span */
    #topnav_hamburger_icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        margin-bottom: 5px;
        background: #ededed;
        border-radius: 3px;
        z-index: 100;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    /* set the 3 spans position to look like a hamburger */
    #topnav_hamburger_icon span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
      }
      #topnav_hamburger_icon span:nth-child(2) {
        top: 12px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      #topnav_hamburger_icon span:nth-child(3) {
        top: 24px;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
      }

    /* change color when opening the menu */
    #topnav_hamburger_icon.open span {
        background: #333;
      }

    /* the first span rotates 45째 \ */
    #topnav_hamburger_icon.open span:nth-child(1) {
        width: 110%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* the second span disappear */
    #topnav_hamburger_icon.open span:nth-child(2) {
        width: 0%;
        opacity: 0;       
    }
    
    /* the last span rotates -45째 / */
    #topnav_hamburger_icon.open span:nth-child(3) {
        width: 110%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .search-texte {
        width: 200px;
        border-radius: 15px;
        margin-right:3px;
        margin-left: 50px;
        padding: 0px
        
    }  

    #button-submit {
        width: 25px;
        height: 25px;
        border-radius: 50px;
    }

    .favorite {
        background-color: aqua;
        display: flex;
        margin-right: 0px;
        margin-left: 115px;
        border-radius: 15px;
        width:140px;
        
    }
    
    #content {

        display: flex; 
       
        background: lightcoral;        
        display: none;
    }

    #aside {
        display: flex;
        align-items: center;  
        flex-direction: column;   
        height: 1000px;
        margin: 5px 0px 5px;
        
    }

    

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height:161px;
        margin: 5px 0px 0px 0px;
        background-size: cover;
        font-size: 2.0em;
        
        

    }

    .item a {
        text-decoration: none;
        color: olivedrab;
    }

    .item7 a {
        text-decoration: none;
        color: rgba(245, 240, 241, 0.534);
        font-size: 2.3rem;
    }


    .item1 {
        background-image: url(../Photos/etales.jpg);
        background-repeat: no-repeat;
        ;
        
       
    }
    .item2 {
        background-image: url(../Photos/graines.jpg);
        
    }

    .item3 {
        background-image: url(../Photos/plants1.png);
        
    }
    .item4 {

        display: none;
    }
    .item5 {
        background-image: url(../Photos/serre.jpg);
    }
    .item6 {
        background-image: url(../Photos/chiots.jpg);
    }
    .item7 {
        background-image: url(../Photos/serre3.jpg);
    }

    #footer {
        display: flex;
        background: rgb(224, 224, 21);
        height: 200px;
               
    }

    .index {
        display: flex;
        background: #000000;
        margin: 5px 0px  5px;
        padding: 5px;
        color: #ededed;
        font-size: 0.75em;
        justify-content: center;
        align-items: center;

    }

    ul { 
        padding: 5px 5px 5px;
        
    }

    .li {
        padding: 5px 12px 7px;
        
    }

    .footer {
        display: flex;
        color: #ededed;
        margin: 5px 10px;
        padding: 5px;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }
}
